<%= form_for(@test_result) do |f| %>
  <% if @test_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_result.errors.count, "error") %> prohibited this test_result from being saved:</h2>

      <ul>
      <% @test_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :system_under_test %><br>
    <%= f.text_field :system_under_test %>
  </div>
  <div class="field">
    <%= f.label :passed %><br>
    <%= f.check_box :passed %>
  </div>
  <div class="field">
    <%= f.label :run_by_whom %><br>
    <%= f.text_field :run_by_whom %>
  </div>
  <div class="field">
    <%= f.label :test_details %><br>
    <%= f.text_area :test_details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
